<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
</head>
<body>
	<form action='Login.ashx' method='post'>
		<strong>登陆</strong><br />
		用户名：<input type='text' name='username' value='$username' /><br />
		密码:<input name='password' type='password' value='$password' /><br />
		<input type='submit' value='登陆' />
		<input type='reset' value='取消' />
	</form>
	<p>$msg</p>
</body>
</html>
